h1 {
  color: green;
  font-style: italic;
}
li {
  color: grey;
  padding-top: 3px;
  font-size: 15px;
}
.note {
  color: grey;
  padding-top: 5px;
  font-size: 15px;
}
.notification {
  background: lightgrey;
  font-size: 20px;
  line-height: 10px;
  border-style: solid;
  border-radius: 5px;
  padding: 5px 8px;
  margin-bottom: 10px;
}
.error {
  color: red;
}
.success {
  color: green;
}
